@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 237, 227, 233;
  --background-start-rgb: 235, 195, 219;
  --background-end-rgb: 230, 228, 206;
  --font-color:192, 155, 216;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 237, 227, 233;
    --background-start-rgb: 235, 195, 219;
    --background-end-rgb: 230, 228, 206;
    --font-color:192, 155, 216;
  }
}

body {
  color: var(--font-color);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
h1{
  font-size: large;
}
.navbar_logo{
  width:75px;
  animation: rotation 6s infinite linear;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
